.productCard {
    border: 1px solid var(---Medium-Gray, #c4c4c4);
    background-color: #fff;
    border-radius: 5px;
    max-width: 473px;
    padding: 30px 25px;
    overflow: hidden;
  }
  
  .imageContainer {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    min-height: 280px;
    max-height: 280px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .productImage {
    object-fit: cover;
    object-position: center;
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
  }
  
  .imageSlider {
    width: 100%;
    margin-top: 10px;
  }
  
  .sliderContainer {
    stroke-width: 1px;
    stroke: #c4c4c4;
    flex-direction: column;
    align-items: flex-start;
    min-height: 1px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .sliderBackground {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
  }
  
  .thumbnailImage {
    aspect-ratio: 90.91;
    object-fit: contain;
    object-position: center;
    stroke-width: 1px;
    stroke: #404040;
    width: 94px;
  }
  
  .contentSection {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    margin-top: 10px;
    display: flex;
  }
  
  .productDetails {
    background-color: #fff;
    width: 100%;
  }
  
  .productInfo {
    color: #000;
    width: 100%;
    font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .titlePriceContainer {
    width: 100%;
  }
  
  .productTitle {
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }
  
  .productPrice {
    color: #000;
    margin-top: 5px;
    font-size: 24px;
    font-weight: 500;
  }
  
  .optionsSection {
    width: 100%;
    margin-top: 25px;
  }
  
  .dropdown {
    border: 1px solid var(---Medium-Gray, #c4c4c4);
    border-radius: 5px;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    max-width: 423px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
  
  .dropdownText {
    color: #767676;
    flex: 1;
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .dropdownArrowContainer {
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    width: 15px;
    min-height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    overflow: hidden;
  }
  
  .arrowWrapper {
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    align-items: stretch;
    width: 15px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2px;
    display: flex;
  }
  
  .arrowIcon {
    aspect-ratio: 1.83;
    object-fit: contain;
    object-position: center;
    stroke-width: 1px;
    stroke: #000;
    width: 100%;
  }
  
  .secondDropdown {
    border: 1px solid var(---Medium-Gray, #c4c4c4);
    border-radius: 5px;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    max-width: 423px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
  
  .addToCartButton {
    color: #fff;
    text-align: center;
    background-color: #404040;
    border-radius: 4px;
    align-self: stretch;
    gap: 10px;
    width: 100%;
    min-height: 50px;
    margin-top: 24px;
    padding: 13px 10px;
    font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;
  }
  
  .moreDetailsLink {
    color: #767676;
    align-self: center;
    width: 172px;
    max-width: 100%;
    margin-top: 24px;
    font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
  }
  
  .linkText {
    color: #767676;
  }
  
  .underline {
    background-color: #767676;
    border: 1px solid #767676;
    width: 100%;
    min-height: 1px;
  }
  