.popularProductList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}